/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-emphasis-200: #ccc;
  --ifm-menu-color-background-active: #dadada;
  --ifm-menu-color-background-hover: #dadada;
  --ifm-breadcrumb-item-background-active: #dadada;
  --ifm-navbar-background-color: #dadada;
  --ifm-footer-background-color: #dadada;
  --ifm-color-primary-darkest: #222;
  --ifm-color-primary-darker: #333;
  --ifm-color-primary-dark: #444;
  --ifm-color-primary: #555;
  --ifm-color-primary-light: #666;
  --ifm-color-primary-lighter: #777;
  --ifm-color-primary-lightest: #888;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-breadcrumb-border-radius: 0.25rem;
  --ifm-spacing-horizontal: 2rem;
}

html[data-theme='light'] .alert--info {
  --ifm-alert-background-color: var( --ifm-color-info-contrast-background );
  --ifm-alert-background-color-highlight: rgba(84, 199, 236, 0.15);
  --ifm-alert-foreground-color: var( --ifm-color-info-contrast-foreground );
  --ifm-alert-border-color: var(--ifm-color-emphasis-200);
}

html[data-theme='light'] .navbar .navbar__logo {
  content: url(/static/img/play_inverted.png)
}




/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-table-head-background: #222;
  --ifm-menu-color-background-active: #222;
  --ifm-menu-color-background-hover: #222;
  --ifm-breadcrumb-item-background-active: #222;
  --ifm-navbar-background-color: rgba(0, 0, 0, 0.75);
  --ifm-footer-background-color: #222;
  --ifm-color-primary-darkest: rgba(60, 60, 60, 1);
  --ifm-color-primary-darker: rgba(80, 80, 80, 1);
  --ifm-color-primary-dark: rgba(100, 100, 100, 1);
  --ifm-color-primary: rgba(120, 120, 120, 1);
  --ifm-color-primary-light: rgba(200, 200, 200, 1);
  --ifm-color-primary-lighter: rgba(225, 225, 225, 1);
  --ifm-color-primary-lightest: rgba(250, 250, 250, 1);
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.alert--info {
  --ifm-alert-background-color: var( --ifm-color-info-contrast-background );
  --ifm-alert-background-color-highlight: rgba(84, 199, 236, 0.15);
  --ifm-alert-foreground-color: var( --ifm-color-info-contrast-foreground );
  --ifm-alert-border-color: var(--ifm-color-emphasis-200);
}

html[data-theme="dark"] {
  --ifm-background-color: #000;
  --ifm-code-background: #222222;
}

table {
  display: table;
  width: 100%;
  border-collapse: collapse;
  margin-bottom: var(--ifm-spacing-vertical);
} 

html[data-theme="dark"] .navbar-sidebar {
  background: #000;
}

/* .mainWrapper_z2l0 {
  padding-left: 10px;
  padding-right: 10px
} */


/* NAVBAR */

.navbar {
    border-bottom-width: 1px;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

nav.navbar {
    --tw-backdrop-blur: blur(12px);
    -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
    backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
    background-color: initial;
}

.navbar__inner {
    margin: 0 auto;
    max-width: 1420px;
    padding: 0 16px;
}



/* SIDEBAR */

aside.docSidebarContainer_YfHR {
    border-right: 0px;
}

nav.menu_SIkG {
  padding: 1.5rem 1rem 1rem 1.5rem;
}

.token-line {
  color: #000;
}

.menu__list-item:not(:first-child) {
  margin-top: 0.25rem;
  font-size: 0.9rem;
}

code { 
  background-color: #222;
}

.breadcrumbs__item--active .breadcrumbs__link {
    background: #222;
}

element.style {
    color: rgb(248, 248, 242);
    background-color: rgb(30 62 255);
}


/* WIDTH */

article {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

/* Adjust footer link colors */
#__docusaurus > footer > div > div.text--center > div > a {
  color: unset;
}

#__docusaurus > footer > div > div.text--center > div > a:hover {
  color: var(--ifm-link-color);
  text-decoration: underline;
}

.navbar .navbar__items {
  flex: auto;
}

.dropdown__link {
  font-size: inherit;
}

.dropdown {
  width: 100%;
  border: none;
  background-color: var(--ifm-navbar-background-color);
}

/* Adjust footer link colors */
#__docusaurus > footer > div > div.text--center > div > a {
  color: unset;
}

#__docusaurus > footer > div > div.text--center > div > a:hover {
  color: var(--ifm-link-color);
  text-decoration: underline;
}
